body{
background:#dfefff;
font-family:Tahoma;
font-size:14px;
color:#000;
max-width:320px;
margin:auto;
padding:5px;
}

.logo{
background:#003399;
color:white;
padding:10px;
text-align:center;
font-weight:bold;
font-size:20px;
margin-bottom:10px;
}

input,select,button{
width:100%;
margin-top:5px;
padding:6px;
font-size:14px;
box-sizing:border-box;
}

.song{
border:1px solid #999;
background:white;
padding:6px;
margin-top:6px;
}

a{
color:#003399;
text-decoration:none;
font-weight:bold;
}

.download{
margin-top:5px;
display:block;
}
